<h3>Heroes</h3>
<div>
    <label>Hero name:
    <input #heroName />
  </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''"> add </button>
    <button (click)="search(heroName.value)"> search</button>
</div>

<ul class="heroes" *ngFor="let business of businessListe">
    <li>
        <a (click)="edit(business)">
            <!--span style="display: :none" class="badge">{{ business._id || -1 }}</span-->
            <span *ngIf="business!==editBusiness">{{business.person_name}}</span>
            <input *ngIf="business===editBusiness" [(ngModel)]="business.person_name" (blur)="update()" (keyup.enter)="update()" />

        </a>

        <a (click)="edit(business)">
            <!--span style="display: :none" class="badge">{{ business._id || -1 }}</span-->
            <span *ngIf="business!==editBusiness">{{business.address}}</span>
            <input *ngIf="business===editBusiness" [(ngModel)]="business.address" (blur)="update()" (keyup.enter)="update()" />
        </a>

        <button class="delete" title="delete business" (click)="delete(business)">x</button>
    </li>
</ul>